<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>LOGIN</h1>
        <form method="POST">
            <div class="tbox">
                <input type="text" name="username" placeholder="username" value="">
            </div>

            <div class="tbox">
                    <input type="password" name="password" placeholder="password" value="">
            </div>
            <input class="btn" type="submit" name="" value="LOGIN">
        </form>
        <a class="b1" href="">FORGOT PASSWORD ?</a>
        <a class="b2" href="">CREATE NEW ACCOUNT</a>

    </div>
</body>
</html>