<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p style="text-align: right"><a href="/logout">Logout</a></p>
    <a href="{{ url_for('data') }}">Show information of all</a><br>
    <a href="{{ url_for('data_gender', gender = 'female') }}">Show information of all women </a><br>
    <a href="{{ url_for('data_gender', gender = 'male') }}">Show information of all men</a><br>
</body>
</html>