<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Add new bike</h3>
        <label>Model</label><br>
        <input type="text" name="model"><br>
        <label for="">Daily fee (VND)</label><br>
        <input type="text" name="fee"><br>
        <label for="">Image</label><br>
        <input type="text" name="image"><br>
        <label for="">Year</label><br>
        <input type="text" name="year"><br>
        <button style="background-color: blueviolet">Submit</button>
    </form>
</body>
</html>