<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Study - TungDV</title>
</head>
<body>
    <h2 style="text-align:center">INFORMATION</h2>
    <p><b>Name:</b> {{ info.name }}</p>
    <p><b>Age:</b> {{ info.age }}</p>
    <p><b>Job:</b> {{ info.job }}</p>
    <p><b>Sex:</b> {{ info.sex }}</p>
    <p><b>Address:</b> {{ info.address }}</p>
    <p><b>School:</b> {{ info.school }}</p>
    <p><b>Hobbies:</b> {{ info.hobbies }}</p>
    <hr>
</body>
</html>